    <!--Topside-->
    <div class="container">
        <div class="row mt-2">
       <!--   <div class="col-md-12 offset-md-1">  -->
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header bg-info text-white">
                        Statistics des inventaires
                    </div>

                    <div class="card-body">
                        <div class="row">
                              <div class="col-md-2">
                                <a class="text-decoration-none text-dark" href="{% url 'dashb-index' %}">

                                    <div class="card my-card shadow text-center p-3">
                                        <h4>DECLASSE<i class="fas fa-users"></i></h4>

                                        <h3>{{ count_prod }}</h3>



                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a class="text-decoration-none text-dark" href="{% url 'dashb-index' %}">

                                    <div class="card my-card shadow text-center p-3">
                                        <h4>PRODUCT<i class="fas fa-users"></i></h4>

                                        <h3>{{ count_prod }}</h3>



                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a class="text-decoration-none text-dark" href="{% url 'dashb-high_tech_phone' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>SMARTPHONE<i class="fas fa-users"></i></h4>
                                        <h3>{{ phone }}</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a class="text-decoration-none text-dark" href="{% url 'dashb-laptop_index' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>LAPTOPS<i class="fas fa-box"></i></h4>
                                        <h3>{{ count_lap }}</h3>
                                    </div>
                                </a>
                            </div>
                             <div class="col-md-2">
                                <a class="text-decoration-none text-dark" href="{% url 'dashb-high_tech_tab' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>TABLETTE<i class="fas fa-box"></i></h4>
                                        <h3>{{ tablette }}</h3>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
         <!--    </div> end col-md-14 -->
        </div>
    </div>

    <!--End Topside-->